.create-container{
    position: fixed;
    right: 0rem;
    top: 0rem;
}

.card
{
    margin-bottom: 5rem;
}

.btn 
{
    margin: 1rem;
}

#IVR
{
    position: fixed;
    top: 4rem;
    right: 0rem;
}