<% layout("/layout/boilerplate.ejs") %>
<body>
    
        <% for(let contact of allContacts){%>

            <div class="card">
                <div class="card-header">
                  Freshsales Contact
                </div>
                <div class="card-body">
                  <h5 class="card-title"><%= contact.fisrt_name %></h5>
                  <a href="/getContact/<%=contact._id%>" class="btn btn-info">Get Details</a>
                  <form action="/deleteContact/<%=contact._id%>?_method=Delete" method="post">
                    <button class="btn btn-danger">Delete Contact</button>
                  </form>
                </div>
              </div>

              <div class="create-container"><a href="/create" class="btn btn-primary">Create Contact</a></div>

      <%  } %>
    
</body>
</html>